html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  @include font();
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
}

body.scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button__up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
}
