.container {
  padding-left: 15px;
  padding-right: 15px;
}

// 480+
@media screen and (min-width: $mobile) {
  .container {
    margin: 0 auto;
    width: $mobile;
  }
}

// 768+
@media screen and (min-width: $tablet) {
  .container {
    width: $tablet;
  }
}

// 1200+
@media screen and (min-width: $desktop) {
  .container {
    width: $desktop;
  }
}
