:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #000000;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-fill-color: #afb1b8;
  --trans-dur-250ms: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
