<section class="doing">
  <div class="container">
    <h2 class="title doing__title">Чем мы занимаемся</h2>
    <ul class="doing-list">
      <li class="doing-list__item">
        <picture>
          <source
            srcset="./images/what-are-we-doing/webp/desktop-programer-working.webp 1x, ./images/what-are-we-doing/webp/desktop-programer-working@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
          <source
            srcset="./images/what-are-we-doing/jpg/desktop-programer-working.jpg 1x, ./images/what-are-we-doing/jpg/desktop-programer-working@2x.jpg 2x"
            media="(min-width: 1200px)">
          <img src="./images/what-are-we-doing/jpg/desktop-programer-working.jpg"
            alt="програмист работает за столом в офисе">
        </picture>
        <div class="doing-list__label">
          <p class="doing-list__text">Десктопные приложения</p>
        </div>
      </li>
      <li class="doing-list__item">
        <picture>
          <source
            srcset="./images/what-are-we-doing/webp/desktop-working-interface.webp 1x, ./images/what-are-we-doing/webp/desktop-working-interface@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
          <source
            srcset="./images/what-are-we-doing/jpg/desktop-working-interface.jpg 1x, ./images/what-are-we-doing/jpg/desktop-working-interface@2x.jpg 2x"
            media="(min-width: 1200px)">
          <img src="./images/what-are-we-doing/jpg/desktop-working-interface.jpg"
            alt="програмист работает за столом в офисе">
        </picture>
        <div class="doing-list__label">
          <p class="doing-list__text">Мобильные приложения</p>
        </div>
      </li>
      <li class="doing-list__item">
        <picture>
          <source
            srcset="./images/what-are-we-doing/webp/desktop-graphic-tablet.webp 1x, ./images/what-are-we-doing/webp/desktop-graphic-tablet@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
          <source
            srcset="./images/what-are-we-doing/jpg/desktop-graphic-tablet.jpg 1x, ./images/what-are-we-doing/jpg/desktop-graphic-tablet@2x.jpg 2x"
            media="(min-width: 1200px)">
          <img src="./images/what-are-we-doing/jpg/desktop-graphic-tablet.jpg"
            alt="програмист работает за столом в офисе">
        </picture>
        <div class="doing-list__label">
          <p class="doing-list__text">Дизайнерские решения</p>
        </div>
      </li>
    </ul>
  </div>
</section>