<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="footer__contact">
      <a class="logo footer__logo" href="./index.html">Web<span class="footer__logo--color">Studio</span></a>
      <address class="address">
        <ul class="address__list ">
          <li class="address__item"><a class="address__link" href="https://goo.gl/maps/TtpKeXiaDv2Z9Nnn7"
              target="_blank" rel="noopener noreferrer">г. Киев, пр-т Леси Украинки, 26</a></li>
          <li class="address__item"><a class="address__link address__link--contact"
              href="mailto:info@example.com">info@example.com</a></li>
          <li class="address__item"><a class="address__link address__link--contact" href="tel:+380991111111">+38
              099 111 11 11</a></li>
        </ul>
      </address>
    </div>
    <div class="footer-social footer__social">
      <h3 class="footer-social__title">присоединяйтесь</h3>
      <ul class="social-list ">
        <li class="social-list__item"><a class="social-list__link social-list__link--footer-color"
            href="#instagram"><svg width="20" height="20">
              <use href="./images/icons.svg#instagram"></use>
            </svg></a>
        </li>
        <li class="social-list__item"><a class="social-list__link social-list__link--footer-color" href="#twitter"><svg
              width="20" height="20">
              <use href="./images/icons.svg#twitter"></use>
            </svg></a>
        </li>
        <li class="social-list__item"><a class="social-list__link social-list__link--footer-color" href="#facebook"><svg
              width="20" height="20">
              <use href="./images/icons.svg#facebook"></use>
            </svg></a>
        </li>
        <li class="social-list__item"><a class="social-list__link social-list__link--footer-color" href="#linkedin"><svg
              width="20" height="20">
              <use href="./images/icons.svg#linkedin"></use>
            </svg></a>
        </li>
      </ul>
    </div>
    <form class="footer-form" action="#" autocomplete="off" data-subscribe-form>
      <label class="footer-form__label" for="email-newsletter">Подпишитесь на рассылку
      </label>
      <input class="footer-form__input" type="email" name="email-newsletter" placeholder="E-mail" id="email-newsletter"
        required>
      <button class="button footer__button" type="submit">Подписаться<svg class="button__icon" width="24" height="24">
          <use href="./images/icons.svg#send"></use>
        </svg></button>
    </form>
  </div>
</footer>