<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__container">
    <button class="close-button-menu" type="button" data-menu-close>
      <svg width="40" height="40">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu__nav">
      <li class="mobile-menu__nav-item"><a class="mobile-menu__nav-link" href="./index.html">Студия</a>
      </li>
      <li class="mobile-menu__nav-item"><a class="mobile-menu__nav-link" href="#portfolio">Портфолио</a>
      </li>
      <li class="mobile-menu__nav-item"><a class="mobile-menu__nav-link" href="#contacts">Контакты</a>
      </li>
    </ul>
    <div class="mobile-menu__wrapper">
      <ul class="mobile-menu__contact">
        <li class="mobile-menu__contact-item">
          <a class="mobile-menu__contact-link" href="tel:+380961111111">+38 096 111 11 11</a>
        </li>
        <li class="mobile-menu__contact-item">
          <a class="mobile-menu__contact-link" href="mailto:info@devstudio.com">info@devstudio.com</a>
        </li>
      </ul>
      <ul class="mobile-menu__social">
        <li class="mobile-menu__social-item"><a class="mobile-menu__social-link" href="#instagram">Instagram</a>
        </li>
        <li class="mobile-menu__social-item"><a class="mobile-menu__social-link" href="#twitter">Twitter</a>
        </li>
        <li class="mobile-menu__social-item"><a class="mobile-menu__social-link" href="#facebook">Facebook</a>
        </li>
        <li class="mobile-menu__social-item"><a class="mobile-menu__social-link" href="#linkedin">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</div>