<section class="portfolio" id="portfolio" data-filter>
    <div class="container">
        <h1 class="title portfolio__title">Наши проекты</h1>
        <ul class="portfolio-filter portfolio__filter">
            <li class="portfolio-filter__item"><button class="button-filter" type="button">Все</button></li>
            <li class="portfolio-filter__item"><button class="button-filter" type="button">Веб-сайты</button>
            </li>
            <li class="portfolio-filter__item"><button class="button-filter" type="button">Приложения</button>
            </li>
            <li class="portfolio-filter__item"><button class="button-filter" type="button">Дизайн</button>
            </li>
            <li class="portfolio-filter__item"><button class="button-filter" type="button">Маркетинг</button>
            </li>
        </ul>
        <ul class="portfolio-card portfolio__card-list" data-card>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-laptop.webp 1x, ./images/our-projects/desktop/webp/desktop-laptop@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-laptop.jpg 1x, ./images/our-projects/desktop/jpg/desktop-laptop@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-laptop.webp 1x, ./images/our-projects/tablet/webp/tablet-laptop@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-laptop.jpg 1x, ./images/our-projects/tablet/jpg/tablet-laptop@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-laptop.webp 1x, ./images/our-projects/mobile/webp/mobile-laptop@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-laptop.jpg 1x, ./images/our-projects/mobile/jpg/mobile-laptop@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-laptop.jpg" alt="ноутбук">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name">Технокряк</h2>
                        <p class="portfolio-card__type">Веб-сайт</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-basketball-game.webp 1x, ./images/our-projects/desktop/webp/desktop-basketball-game@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-basketball-game.jpg 1x, ./images/our-projects/desktop/jpg/desktop-basketball-game@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-basketball-game.webp 1x, ./images/our-projects/tablet/webp/tablet-basketball-game@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-basketball-game.jpg 1x, ./images/our-projects/tablet/jpg/tablet-basketball-game@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-basketball-game.webp 1x, ./images/our-projects/mobile/webp/mobile-basketball-game@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-basketball-game.jpg 1x, ./images/our-projects/mobile/jpg/mobile-basketball-game@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-basketball-game.jpg"
                                alt="игра в баскетбол">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name">Постер <span lang="en">New Orlean vs Golden Star</span>
                        </h2>
                        <p class="portfolio-card__type">Дизайн</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-restaurant-sign.webp 1x, ./images/our-projects/desktop/webp/desktop-restaurant-sign@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-restaurant-sign.jpg 1x, ./images/our-projects/desktop/jpg/desktop-restaurant-sign@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-restaurant-sign.webp 1x, ./images/our-projects/tablet/webp/tablet-restaurant-sign@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-restaurant-sign.jpg 1x, ./images/our-projects/tablet/jpg/tablet-restaurant-sign@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-restaurant-sign.webp 1x, ./images/our-projects/mobile/webp/mobile-restaurant-sign@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-restaurant-sign.jpg 1x, ./images/our-projects/mobile/jpg/mobile-restaurant-sign@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-restaurant-sign.jpg"
                                alt="вывеска ресторана">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name">Ресторан <span lang="en">Seafood</span></h2>
                        <p class="portfolio-card__type">Приложение</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-headphones.webp 1x, ./images/our-projects/desktop/webp/desktop-headphones@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-headphones.jpg 1x, ./images/our-projects/desktop/jpg/desktop-headphones@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-headphones.webp 1x, ./images/our-projects/tablet/webp/tablet-headphones@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-headphones.jpg 1x, ./images/our-projects/tablet/jpg/tablet-headphones@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-headphones.webp 1x, ./images/our-projects/mobile/webp/mobile-headphones@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-headphones.jpg 1x, ./images/our-projects/mobile/jpg/mobile-headphones@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-headphones.jpg" alt="наушники">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name">Проект <span lang="en">Prime
                            </span></h2>
                        <p class="portfolio-card__type">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-boxes.webp 1x, ./images/our-projects/desktop/webp/desktop-boxes@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-boxes.jpg 1x, ./images/our-projects/desktop/jpg/desktop-boxes@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-boxes.webp 1x, ./images/our-projects/tablet/webp/tablet-boxes@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-boxes.jpg 1x, ./images/our-projects/tablet/jpg/tablet-boxes@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-boxes.webp 1x, ./images/our-projects/mobile/webp/mobile-boxes@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-boxes.jpg 1x, ./images/our-projects/mobile/jpg/mobile-boxes@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-boxes.jpg" alt="коробки">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name">Проект <span lang="en">Boxes
                            </span></h2>
                        <p class="portfolio-card__type">Приложение</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-monoblock.webp 1x, ./images/our-projects/desktop/webp/desktop-monoblock@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-monoblock.jpg 1x, ./images/our-projects/desktop/jpg/desktop-monoblock@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-monoblock.webp 1x, ./images/our-projects/tablet/webp/tablet-monoblock@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-monoblock.jpg 1x, ./images/our-projects/tablet/jpg/tablet-monoblock@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-monoblock.webp 1x, ./images/our-projects/mobile/webp/mobile-monoblock@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-monoblock.jpg 1x, ./images/our-projects/mobile/jpg/mobile-monoblock@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-monoblock.jpg" alt="моноблок">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name" lang="en">Inspiration has no Borders</h2>
                        <p class="portfolio-card__type">Веб-сайт</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-magazine.webp 1x, ./images/our-projects/desktop/webp/desktop-magazine@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-magazine.jpg 1x, ./images/our-projects/desktop/jpg/desktop-magazine@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-magazine.webp 1x, ./images/our-projects/tablet/webp/tablet-magazine@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-magazine.jpg 1x, ./images/our-projects/tablet/jpg/tablet-magazine@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-magazine.webp 1x, ./images/our-projects/mobile/webp/mobile-magazine@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-magazine.jpg 1x, ./images/our-projects/mobile/jpg/mobile-magazine@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-magazine.jpg" alt="журнал">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name">Издание <span lang="en">Limited Edition</span></h2>
                        <p class="portfolio-card__type">Дизайн</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-trinket.webp 1x, ./images/our-projects/desktop/webp/desktop-trinket@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-trinket.jpg 1x, ./images/our-projects/desktop/jpg/desktop-trinket@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-trinket.webp 1x, ./images/our-projects/tablet/webp/tablet-trinket@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-trinket.jpg 1x, ./images/our-projects/tablet/jpg/tablet-trinket@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-trinket.webp 1x, ./images/our-projects/mobile/webp/mobile-trinket@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-trinket.jpg 1x, ./images/our-projects/mobile/jpg/mobile-trinket@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-trinket.jpg" alt="брелок">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name">Проект <span lang="en">LAB</span>
                        </h2>
                        <p class="portfolio-card__type">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="portfolio-card__item">
                <a class="portfolio-card__link" href="#card">
                    <div class="portfolio-card__thumb">
                        <picture class="portfolio-card__picture">
                            <source
                                srcset="./images/our-projects/desktop/webp/desktop-working-on-laptop.webp 1x, ./images/our-projects/desktop/webp/desktop-working-on-laptop@2x.webp 2x"
                                media="(min-width: 1200px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/desktop/jpg/desktop-working-on-laptop.jpg 1x, ./images/our-projects/desktop/jpg/desktop-working-on-laptop@2x.jpg 2x"
                                media="(min-width: 1200px)">

                            <source
                                srcset="./images/our-projects/tablet/webp/tablet-working-on-laptop.webp 1x, ./images/our-projects/tablet/webp/tablet-working-on-laptop@2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/tablet/jpg/tablet-working-on-laptop.jpg 1x, ./images/our-projects/tablet/jpg/tablet-working-on-laptop@2x.jpg 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/our-projects/mobile/webp/mobile-working-on-laptop.webp 1x, ./images/our-projects/mobile/webp/mobile-working-on-laptop@2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/our-projects/mobile/jpg/mobile-working-on-laptop.jpg 1x, ./images/our-projects/mobile/jpg/mobile-working-on-laptop@2x.jpg 2x"
                                media="(max-width: 767px)">

                            <img src="./images/our-projects/mobile/jpg/mobile-working-on-laptop.jpg"
                                alt="работает на ноутбуке">
                        </picture>
                        <div class="portfolio-card__thumb-overlay">
                            <p class="portfolio-card__text-overlay">Технокряк это современная площадка
                                распространения
                                коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на
                                защищённые сервера конкурентов.</p>
                        </div>
                    </div>
                    <div class="portfolio-card__description">
                        <h2 class="portfolio-card__name" lang="en">Growing Business</h2>
                        <p class="portfolio-card__type">Приложение</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>