<section class="team">
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team-list list">
      <li class="team-list__item">
        <picture class="team-list__picture">
          <source
            srcset="./images/our-team/desktop/webp/desktop-igor-demyanenko.webp 1x, ./images/our-team/desktop/webp/desktop-igor-demyanenko@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
          <source
            srcset="./images/our-team/desktop/jpg/desktop-igor-demyanenko.jpg 1x, ./images/our-team/desktop/jpg/desktop-igor-demyanenko@2x.jpg 2x"
            media="(min-width: 1200px)">

          <source
            srcset="./images/our-team/tablet/webp/tablet-igor-demyanenko.webp 1x, ./images/our-team/tablet/webp/tablet-igor-demyanenko@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
          <source
            srcset="./images/our-team/tablet/jpg/tablet-igor-demyanenko.jpg 1x, ./images/our-team/tablet/jpg/tablet-igor-demyanenko@2x.jpg 2x"
            media="(min-width: 768px)">

          <source
            srcset="./images/our-team/mobile/webp/mobile-igor-demyanenko.webp 1x, ./images/our-team/mobile/webp/mobile-igor-demyanenko@2x.webp 2x"
            media="(max-width: 767px)" type="image/webp">
          <source
            srcset="./images/our-team/mobile/jpg/mobile-igor-demyanenko.jpg 1x, ./images/our-team/mobile/jpg/mobile-igor-demyanenko@2x.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/our-team/desktop/jpg/desktop-igor-demyanenko.jpg" alt="мужчина в очках">
        </picture>
        <div class="team-list__description">
          <h3 class="team-list__name">Игорь Демьяненко</h3>
          <p class="team-list__prof" lang="en">Product Designer</p>
        </div>
        <ul class="team-social-list list">
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#instagram"><svg width="20"
                height="20">
                <use href="./images/icons.svg#instagram"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#twitter"><svg width="20"
                height="20">
                <use href="./images/icons.svg#twitter"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#facebook"><svg width="20"
                height="20">
                <use href="./images/icons.svg#facebook"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#linkedin"><svg width="20"
                height="20">
                <use href="./images/icons.svg#linkedin"></use>
              </svg></a>
          </li>
        </ul>
      </li>
      <li class="team-list__item">
        <picture class="team-list__picture">
          <source
            srcset="./images/our-team/desktop/webp/desktop-olga-repina.webp 1x, ./images/our-team/desktop/webp/desktop-olga-repina@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
          <source
            srcset="./images/our-team/desktop/jpg/desktop-olga-repina.jpg 1x, ./images/our-team/desktop/jpg/desktop-olga-repina@2x.jpg 2x"
            media="(min-width: 1200px)">

          <source
            srcset="./images/our-team/tablet/webp/tablet-olga-repina.webp 1x, ./images/our-team/tablet/webp/tablet-olga-repina@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
          <source
            srcset="./images/our-team/tablet/jpg/tablet-olga-repina.jpg 1x, ./images/our-team/tablet/jpg/tablet-olga-repina@2x.jpg 2x"
            media="(min-width: 768px)">

          <source
            srcset="./images/our-team/mobile/webp/mobile-olga-repina.webp 1x, ./images/our-team/mobile/webp/mobile-olga-repina@2x.webp 2x"
            media="(max-width: 767px)" type="image/webp">
          <source
            srcset="./images/our-team/mobile/jpg/mobile-olga-repina.jpg 1x, ./images/our-team/mobile/jpg/mobile-olga-repina@2x.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/our-team/desktop/jpg/desktop-olga-repina.jpg" alt="женщина в очках">
        </picture>
        <div class="team-list__description">
          <h3 class="team-list__name">Ольга Репина</h3>
          <p class="team-list__prof" lang="en">Frontend Developer</p>
        </div>
        <ul class="team-social-list list">
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#instagram"><svg width="20"
                height="20">
                <use href="./images/icons.svg#instagram"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#twitter"><svg width="20"
                height="20">
                <use href="./images/icons.svg#twitter"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#facebook"><svg width="20"
                height="20">
                <use href="./images/icons.svg#facebook"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#linkedin"><svg width="20"
                height="20">
                <use href="./images/icons.svg#linkedin"></use>
              </svg></a>
          </li>
        </ul>
      </li>
      <li class="team-list__item">
        <picture class="team-list__picture">
          <source
            srcset="./images/our-team/desktop/webp/desktop-nikolay-tarasov.webp 1x, ./images/our-team/desktop/webp/desktop-nikolay-tarasov@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
          <source
            srcset="./images/our-team/desktop/jpg/desktop-nikolay-tarasov.jpg 1x, ./images/our-team/desktop/jpg/desktop-nikolay-tarasov@2x.jpg 2x"
            media="(min-width: 1200px)">

          <source
            srcset="./images/our-team/tablet/webp/tablet-nikolay-tarasov.webp 1x, ./images/our-team/tablet/webp/tablet-nikolay-tarasov@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
          <source
            srcset="./images/our-team/tablet/jpg/tablet-nikolay-tarasov.jpg 1x, ./images/our-team/tablet/jpg/tablet-nikolay-tarasov@2x.jpg 2x"
            media="(min-width: 768px)">

          <source
            srcset="./images/our-team/mobile/webp/mobile-nikolay-tarasov.webp 1x, ./images/our-team/mobile/webp/mobile-nikolay-tarasov@2x.webp 2x"
            media="(max-width: 767px)" type="image/webp">
          <source
            srcset="./images/our-team/desktop/jpg/desktop-nikolay-tarasov.jpg 1x, ./images/our-team/desktop/jpg/desktop-nikolay-tarasov@2x.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/our-team/desktop/jpg/desktop-nikolay-tarasov.jpg" alt="мужчина в рубашке">
        </picture>
        <div class="team-list__description">
          <h3 class="team-list__name">Николай Тарасов</h3>
          <p class="team-list__prof" lang="en">Marketing</p>
        </div>
        <ul class="team-social-list list">
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#instagram"><svg width="20"
                height="20">
                <use href="./images/icons.svg#instagram"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#twitter"><svg width="20"
                height="20">
                <use href="./images/icons.svg#twitter"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#facebook"><svg width="20"
                height="20">
                <use href="./images/icons.svg#facebook"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#linkedin"><svg width="20"
                height="20">
                <use href="./images/icons.svg#linkedin"></use>
              </svg></a>
          </li>
        </ul>
      </li>
      <li class="team-list__item">
        <picture class="team-list__picture">
          <source
            srcset="./images/our-team/desktop/webp/desktop-mikhail-ermakov.webp 1x, ./images/our-team/desktop/webp/desktop-mikhail-ermakov@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp">
          <source
            srcset="./images/our-team/desktop/jpg/desktop-mikhail-ermakov.jpg 1x, ./images/our-team/desktop/jpg/desktop-mikhail-ermakov@2x.jpg 2x"
            media="(min-width: 1200px)">

          <source
            srcset="./images/our-team/tablet/webp/tablet-mikhail-ermakov.webp 1x, ./images/our-team/tablet/webp/tablet-mikhail-ermakov@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
          <source
            srcset="./images/our-team/tablet/jpg/tablet-mikhail-ermakov.jpg 1x, ./images/our-team/tablet/jpg/tablet-mikhail-ermakov@2x.jpg 2x"
            media="(min-width: 768px)">

          <source
            srcset="./images/our-team/mobile/webp/mobile-mikhail-ermakov.webp 1x, ./images/our-team/mobile/webp/mobile-mikhail-ermakov@2x.webp 2x"
            media="(max-width: 767px)" type="image/webp">
          <source
            srcset="./images/our-team/desktop/jpg/desktop-mikhail-ermakov.jpg 1x, ./images/our-team/desktop/jpg/desktop-mikhail-ermakov@2x.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/our-team/desktop/jpg/desktop-nikolay-tarasov.jpg" alt="мужчина в очках">
        </picture>
        <div class="team-list__description">
          <h3 class="team-list__name">Михаил Ермаков</h3>
          <p class="team-list__prof" lang="en">UI Designer</p>
        </div>
        <ul class="team-social-list list">
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#instagram"><svg width="20"
                height="20">
                <use href="./images/icons.svg#instagram"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#twitter"><svg width="20"
                height="20">
                <use href="./images/icons.svg#twitter"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#facebook"><svg width="20"
                height="20">
                <use href="./images/icons.svg#facebook"></use>
              </svg></a>
          </li>
          <li class="team-social-list__item"><a class="team-social-list__link link" href="#linkedin"><svg width="20"
                height="20">
                <use href="./images/icons.svg#linkedin"></use>
              </svg></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>