.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 60px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: scroll;
  transition-property: opacity, visibility;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
