.button-filter {
  padding: 6px 22px;
  @include font($fw: 500, $fs: 16px, $lh: 1.62);
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--secondary-accent-color);
    background-color: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
