.button-menu {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  fill: currentColor;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--primary-accent-color);
  }
}

// 768+
@media screen and (min-width: $tablet) {
  .button-menu {
    display: none;
  }
}
