.button {
  padding: 10px;
  @include font($fw: 700, $fs: 16px, $lh: 1.87, $ls: 0.06em);
  color: var(--secondary-accent-color);
  background: var(--primary-accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
