.contact-list {
  display: none;
}

// 768+
@media screen and (min-width: $tablet) {
  .contact-list {
    display: block;
  }

  .contact-list__link {
    display: flex;
    align-items: center;
    @include font($fw: 500, $fs: 12px, $lh: 1.17, $ls: 0.02em);
    color: inherit;
    fill: currentColor;
    transition-property: color;
    transition-duration: var(--trans-dur-250ms);
    transition-timing-function: var(--cubic-bezier);

    &:nth-child(1) {
      padding-top: 6px;
      padding-bottom: 5px;
    }

    &:nth-child(2) {
      padding-top: 5px;
      padding-bottom: 6px;
    }

    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }

  .contact-list__icon {
    margin-right: 8px;
    animation-name: tada;
    animation-duration: 750ms;
    animation-timing-function: var(--cubic-bezier);
    animation-iteration-count: infinite;

    .contact-list__item:nth-child(1) & {
      width: 14px;
      height: 10px;
    }

    .contact-list__item:nth-child(2) & {
      width: 10px;
      height: 14px;
    }

    .contact-list__link:hover &,
    .contact-list__link:focus & {
      animation-play-state: paused;
    }
  }
}

// 1200+
@media screen and (min-width: $desktop) {
  .contact-list {
    display: flex;
  }

  .contact-list__item {
    &:not(:last-child) {
      margin-right: 50px;
    }

    & .contact-list__link {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .contact-list__link {
    @include font($fw: 500, $ls: 0.02em);
  }

  .contact-list__icon {
    margin-right: 10px;

    .contact-list__item:nth-child(1) & {
      width: 16px;
      height: 12px;
    }

    .contact-list__item:nth-child(2) & {
      width: 10px;
      height: 16px;
    }
  }
}
