.form-label {
  display: block;
  @include font($fs: 12px, $lh: 1.17, $ls: 0.01em);
  color: var(--primary-text-color);

  &:hover {
    cursor: pointer;
  }
}

.modal-form__form-label {
  margin-bottom: 10px;
}

.form-label__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  font-size: 14px;
  color: var(--secondary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color, outline;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:focus {
    border-color: var(--primary-accent-color);
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.form-label__thumb {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-label__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  .form-label__input:focus + & {
    fill: var(--primary-accent-color);
  }
}

.modal-form__form-label-textarea {
  margin-bottom: 20px;
}

.form-label__comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 14px;
  color: var(--secondary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color, outline;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &::placeholder {
    @include font($fs: 12px, $lh: 1.17, $ls: 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--primary-accent-color);
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.form-policy {
  display: block;
  @include font($fs: 12px, $lh: 1.17);
  color: var(--primary-text-color);

  &:hover {
    cursor: pointer;
  }
}

.modal-form__form-policy {
  margin-bottom: 30px;
}

.form-policy__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  transition-property: background, border;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  .form-policy__checkbox:checked + & {
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
    background-image: url(../images/modal/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }

  .form-policy__checkbox:focus + & {
    border-color: var(--primary-accent-color);
  }

  .form-policy__checkbox:hover + & {
    cursor: pointer;
  }
}

.form-policy__link {
  text-decoration-line: underline;
  color: var(--primary-accent-color);
}

.modal-form__button {
  display: block;
  margin: 0 auto;
}

// 1200+
@media screen and (min-width: $desktop) {
  .form-policy {
    padding-left: 10px;
    padding-right: 10px;
    @include font($fs: 14px, $lh: 1.71);
  }
}
