.menu {
  display: none;
}

// 768+
@media screen and (min-width: $tablet) {
  .menu {
    display: flex;
  }

  .menu__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .menu__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    @include font($fw: 500, $ls: 0.02em);
    color: var(--secondary-text-color);
    transition-property: color;
    transition-duration: var(--trans-dur-250ms);
    transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus-visible {
      color: var(--primary-accent-color);
      outline: none;
    }
  }
}
