.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  fill: var(--primary-fill-color);
  border: 1px solid var(--primary-fill-color);
  border-radius: 4px;
  transition-property: border-color, fill, transform;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
    transform: scale(0.9);
  }
}

// 0-767
@media screen and (max-width: calc($tablet - 1px)) {
  .clients-list__item {
    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

// 768-1199
@media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
  .clients-list__item {
    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

// 768+
@media screen and (min-width: $tablet) {
  .clients-list__item {
    width: calc((100% - 2 * 30px) / 3);
  }
}

// 1200+
@media screen and (min-width: $desktop) {
  .clients {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .clients__title {
    margin-bottom: 50px;
  }

  .clients-list {
    flex-wrap: nowrap;
  }

  .clients-list__item {
    width: calc((100% - 5 * 30px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
