// 0-1199
@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.doing {
  padding-top: 0;
  padding-bottom: 90px;
}

.doing__title {
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
}

.doing-list__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.doing-list__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 26px;
  background: rgba(47, 48, 58, 0.8);
}

.doing-list__text {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}
