.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__filter {
  display: flex;
  margin-bottom: 40px;
}

// 0-767
@media screen and (max-width: 767px) {
  .portfolio__filter {
    flex-wrap: wrap;
    margin-left: -8px;
    margin-top: -16px;
  }

  .portfolio-filter__item {
    margin-left: 8px;
    margin-top: 16px;
  }
}

// 768+
@media screen and (min-width: $tablet) {
  .portfolio__filter {
    justify-content: center;
    margin-bottom: 30px;
  }

  .portfolio-filter__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .portfolio-card {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio__card-list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

// 1200+
@media screen and (min-width: $desktop) {
  .portfolio {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .portfolio__filter {
    margin-bottom: 50px;
  }
}
