.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.team__title {
  margin-bottom: 30px;
}

.team-list__item {
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list__description {
  padding: 30px 30px 16px;
  text-align: center;
}

.team-list__name {
  margin-bottom: 10px;
  @include font($fw: 500, $fs: 16px, $lh: 1.18);
  color: var(--secondary-text-color);
}

.team-list__prof {
  @include font($fs: 16px, $lh: 1.18);
}

.social-list__team {
  padding-bottom: 24px;
}

.social-list__link--team-color {
  fill: var(--primary-fill-color);
  transition-property: background-color, fill, transform;

  &:hover,
  &:focus {
    fill: var(--secondary-accent-color);
  }
}

// 768+
@media screen and (min-width: $tablet) {
  .team-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
  }

  .team-list {
    & .team-list__item {
      margin-bottom: 0px;
    }
  }

  .team-list__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

// 1200+
@media screen and (min-width: $desktop) {
  .team {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .team__title {
    margin-bottom: 50px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }

  .social-list__team {
    padding-bottom: 30px;
  }
}
